@import url("reset.css");

/* reset css */

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap');

/* font family */

body {
    font-family: 'Noto Sans KR', sans-serif;
    background: #181818;
    color: #fff;
}

header {
    width: 100%;
    padding: 5px 0;
    background: #181818;
    position: fixed;
    top: 0;
    z-index: 999;
}

.logo_wrap {
    width: 130px;
}
.logo {
    width: 100%;
    height: 39px;
    background-image: url(../images/logo_wihite_animation.png);
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: bottom center;
}
.logo_wrap:hover .logo {
    cursor: pointer;
    animation: logo 1.4s steps(37) forwards;
}
.logo_wrap>h1 {
    color: #fff;
    font-size: 1.1rem;
    font-weight: 900;
}
.logo_wrap:hover h1 {
    color: #00b8fc;
    transition: all 1s ease;
}

@keyframes logo {
    0% {background-position: top;}
    100% {background-position: bottom;}
}

/* toggle button */
.navbar-toggler {
    padding: 0;
}

.line {
    display: block;
    width: 25px;
    height: 2px;
    margin: 4px auto;
    background: #fff;
    transition: all 0.3s ease-in-out;
}
.is-active .line:nth-child(2){
    opacity: 0;
  }
.is-active .line:nth-child(1){
    -webkit-transform: translateY(13px) rotate(45deg);
    -ms-transform: translateY(13px) rotate(45deg);
    -o-transform: translateY(13px) rotate(45deg);
    transform: translateY(6px) rotate(45deg);
}
.is-active .line:nth-child(3){
    -webkit-transform: translateY(-13px) rotate(-45deg);
    -ms-transform: translateY(-13px) rotate(-45deg);
    -o-transform: translateY(-13px) rotate(-45deg);
    transform: translateY(-6px) rotate(-45deg);
}
/* toggle button */

.nav-item {
    width: 180px;
}
.nav-link {
    display: block;
    font-size: 1rem;
    font-weight: 600;
}
.nav-link:hover {
    color: #00b8fc;
    font-weight: 600;
    transition: all 0.2s ease;
}

.navbar-toggler-icon {
    color: #fff;
}

/* section1 banner */

.banner {
    position: relative;
}

.banner_txt {
    position: absolute;
    bottom: 20%;
    left: 50%;
    transform: translateX(-50%);
}
.banner_txt > h1 {
    font-size: 2.5rem;
    line-height: 1.2;
    color: #181818;
}
.banner_txt > p {
    font-size: 1.8rem;
    font-weight: 900;
    line-height: 2;
    color: #3d3d3d;
}



/* section2 contents */

.section2 {
    padding: 300px 0;
}
.sec2_txt > h1 {
    font-size: 3rem;
}
.sec2_txt > p {
    font-size: 1.3rem;
    line-height: 1.8;
    margin-top: 20px;
}


/* section3 */

.swiper1 {
    height: 800px;
}

.sec3_bg1 {
    padding: 300px 0;
    background-image: url(../images/mx-for-coder.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.sec3_bg1_txt > h1 {
    font-size: 3rem;
    font-weight: 900;
}
.sec3_bg1_txt > p {
    margin-top: 30px;
    font-size: 1.2rem;
    line-height: 2;
}

.sec3_bg2 {
    padding: 230px 0;
    background-image: url(../images/mx-for-coder-moniter.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.sec3_bg2_txt1>p:first-child {
    font-size: 2rem;
    font-weight: 900;
}
.sec3_bg2_txt1 > p {
    margin: 20px;
    font-size: 1.1rem;
    line-height: 1.5;
}
.sec3_bg2_txt2>p:first-child {
    font-size: 2rem;
    font-weight: 900;

}
.sec3_bg2_txt2 > p {
    margin: 20px;
    font-size: 1.1rem;
    line-height: 1.5;
}


/* section4 */

.section4 {
    padding: 300px 0;
}
.sec4_txt>h1 {
    font-size: 3rem;
}
.sec4_txt > p {
    font-size: 1.3rem;
    line-height: 1.8;
    margin-top: 20px;
}

/* section5 */

.swiper2 {
    height: 800px;
    overflow-y: hidden;
}

.sec5_bg1 {
    padding: 300px 0;
    background-image: url(../images/mx-for-creativity1-dark.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.sec5_bg1_txt > h1 {
    font-size: 3rem;
    font-weight: 900;
}
.sec5_bg1_txt > p {
    margin-top: 30px;
    font-size: 1.2rem;
    line-height: 2;
}

.sec5_bg2 {
    padding: 335px 0;
    background-image: url(../images/mouse_keyboard_ondesk-dark.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.sec5_bg2_txt1 > h1 {
    font-size: 2rem;
    font-weight: 900;
    line-height: 1.5;
}
.sec5_bg2_txt2 > p {
    font-size: 1.1rem;
    line-height: 1.5;
}

/* section6 */

.section6 {
    padding: 300px 0;
}
.sec6_txt>h1 {
    font-size: 3rem;
}
.sec6_txt > p {
    font-size: 1.3rem;
    line-height: 1.8;
    margin-top: 20px;
}

/* section7 */

.sec7_img > img {
    display: block;
    width: 70%;
    margin: 0 auto; 
}
.sec7_txt {
    margin-top: 120px;
}
.sec7_txt > h1 {
    font-size: 2.5rem;
}
.sec7_txt > p {
    font-size: 1rem;
    line-height: 1.5;
    margin-top: 30px;
}

/* section8 */

.section8 {
    margin: 200px 0;
}
.sec8_img>img {
    display: block;
    width: 100%;
    margin: 0 auto;
}
.sec8_txt {
    margin-top: 100px;
}
.sec8_txt > h1 {
    font-size: 2.5rem;
}
.sec8_txt> p {
    font-size: 1rem;
    line-height: 1.5;
    margin-top: 30px;
}

/* section9 */

.section9 {
    margin: 200px 0;
}

.sec9_img>img {
    display: block;
    width: 70%;
    margin: 0 auto;
}
.sec9_txt {
    margin-top: 60px;
}
.sec9_txt > h1 {
    font-size: 2.5rem;
}
.sec9_txt> p {
    font-size: 1rem;
    line-height: 1.5;
    margin-top: 20px;
}

/* section10 */

.section10 {
    margin: 200px 0;
}
.sec10_img>img {
    display: block;
    width: 100%;
    margin: 0 auto;
}
.sec10_txt {
    margin-top: 40px;
}
.sec10_txt > h1 {
    font-size: 2.5rem;
}
.sec10_txt> p {
    font-size: 1rem;
    line-height: 1.5;
    margin-top: 20px;
}

/* section11 */

.section11 {
    background: #fff;
    color: #181818;
    margin-top: 300px;
}
.article_txt {
    padding-top: 80px;
}
.article_txt > p {
    font-size: 1.8rem;
    line-height: 1.2;
}
.article_logo {
    padding-top: 30px;
}
.article_logo > img {
    display: block;
    width: 12%;
    margin: 0 auto;
}
.article_link {
    display: block;
    width: 10%;
    margin: 0 auto;
    margin-top: 20px;
    margin-bottom: 60px;
    font-size: 1.3rem;
    color: #8e8e8e;
}
.article_link:hover {
    text-decoration: none;
    color: #181818;
    font-weight: 900;
    transition: all 0.3s ease;
}

/* footer */

footer > .row {
    margin-left: 5%;
    margin-top: 40px;
}

.footer1 {
    width: 90%;
    padding-bottom: 30px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.461);
}

.logo_footer_wrap {
    width: 130px;
}
.logo_footer {
    width: 100%;
    height: 39px;
    background-image: url(../images/logo_wihite_animation.png);
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: bottom center;
}
.logo_footer_wrap:hover .logo_footer {
    cursor: pointer;
    animation: logo 1.4s steps(37) forwards;
}
.logo_footer_wrap>h1 {
    color: #fff;
    font-size: 1.1rem;
    font-weight: 900;
}
.logo_footer_wrap:hover h1 {
    color: #00b8fc;
    transition: all 1s ease;
}

@keyframes logo {
    0% {background-position: top;}
    100% {background-position: bottom;}
}

.siteLink_footer {
    display: flex;
    align-items: flex-end;
    margin-left: 3%;
}
.siteLink_footer>li {
    width: 180px;
}
.siteLink_footer a {
    display: block;
    padding: 0;
    text-align: start;
    color: #fff;
    font-size: 1rem;
}
.siteLink_footer a:hover {
    text-decoration: none;
    color: #00b8fc;
    transition: all 0.2s ease;
}

.snsLink_footer {
    display: flex;
    justify-content: space-between;
    width: 8%;
    margin-top: -20px;
    margin-left: 90%;
}
.snsLink_footer li {
    width: 25px;
    height: 25px;  
}
.snsLink_footer>li:nth-child(1)>a {
    display: block;
    width: 100%;
    height: 100%;
    background-image: url(../images/facebook_link.png);
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center;
}
.snsLink_footer>li:nth-child(1)>a:hover {
    background-image: url(../images/facebook_link_blue.png);
    transition: all 0.2s ease;
}
.snsLink_footer>li:nth-child(2)>a {
    display: block;
    width: 100%;
    height: 100%;
    background-image: url(../images/twitter_link.png);
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center;
}
.snsLink_footer>li:nth-child(2)>a:hover {
    background-image: url(../images/twitter_link_blue.png);
    transition: all 0.2s ease;
}
.snsLink_footer>li:nth-child(3)>a {
    display: block;
    width: 100%;
    height: 100%;
    background-image: url(../images/instagram_link.png);
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center;
}
.snsLink_footer>li:nth-child(3)>a:hover {
    background-image: url(../images/instagram_link_blue.png);
    transition: all 0.2s ease;
}

.copyright > p {
    font-size: 1rem;
    color: #fff;
}

.company_info > p {
    font-size: 0.8rem;
    color: #fff;
}

.footer4 {
    margin-bottom: 100px;
}
.nation>a {
    display: block;

    font-size: 1rem;
    color: #fff;
}
.nation>a>span {
    font-size: 1.2rem;
}
.nation>a:hover {
    text-decoration: none;
    color: #00b8fc;
    transition: all 0.3s ease;
}