@media (max-width: 1366px) {
    .sec3_bg2_txt2 {
        margin-top: 100px;
    }
    .swiper-button-next {
        display: none;
    }
    .swiper-button-prev {
        display: none;
    }

}

@media (max-width: 1114px) {
    .nav-item {
        width: 150px;
    }
    .banner_txt {
        bottom: 15%;
    }
    .banner_txt > h1 {
        font-size: 2rem;
    }
    .banner_txt > p {
        font-size: 1.6rem;
    }
    .sec2_txt > h1 {
        font-size: 2rem;
    }
    .sec2_txt > p {
        font-size: 1rem;
    }
    .sec3_bg1_txt > h1 {
        font-size: 2.5rem;
    }
    .sec3_bg1_txt > p {
        font-size: 1rem;
    }
    .sec3_bg2_txt1>p:first-child {
        font-size: 1.6rem;
    }
    .sec3_bg2_txt1 > p {
        font-size: 1rem;
    }
    .sec3_bg2_txt2>p:first-child {
        font-size: 1.6rem;
    }
    .sec3_bg2_txt2 > p {
        font-size: 1rem;
    }
    .sec3_bg2_txt1 {
        margin-top: -150px;
    }
    .sec3_bg2_txt2 {
        margin-top: 180px;
    }
    .sec4_txt > h1 {
        font-size: 2rem;
    }
    .sec4_txt > p {
        font-size: 1rem;
    }
    .sec5_bg1_txt > h1 {
        font-size: 2.5rem;
    }
    .sec5_bg1_txt > p {
        font-size: 1rem;
    }
    .sec5_bg2_txt> .col-7 > p {
        font-size: 0.9rem;
    }
    .sec6_txt > h1 {
        font-size: 2rem;
    }
    .sec6_txt > p {
        font-size: 1rem;
    }
    .sec7_img > img {
        width: 90%;
        margin: 0 auto;
    }
    .sec7_txt {
        margin-top: 70px;
        padding-left: 0;
    }
    .sec7_txt > h1 {
        font-size: 1.8rem;
    }
    .sec7_txt > p { 
        font-size: 0.8rem;
    }
    .sec8_txt > h1 {
        font-size: 1.8rem;
    }
    .sec8_txt > p {
        font-size: 0.8rem;
    }
    .sec8_img > img {
        width: 90%;
        margin: 0 auto;
    }
    .sec9_img > img {
        width: 90%;
        margin: 0 auto;
    }
    .sec9_txt {
        margin-top: 10px;
        padding-left: 0;
    }
    .sec9_txt > h1 {
        font-size: 1.8rem;
    }
    .sec9_txt > p {
        font-size: 0.8rem;
    }
    .sec10_txt {
        margin-top: 10px;
    }
    .sec10_txt > h1 {
        font-size: 1.8rem;
    }
    .sec10_txt > p {
        font-size: 0.8rem;
    }
    .sec10_img > img {
        width: 90%;
        margin: 0 auto;
    }
    .siteLink_footer {
        margin-left: 5%;
    }
    .siteLink_footer>li {
        width: 180px;
    }
    .snsLink_footer {
        width: 15%;
        margin-left: 85%;
    }
    .copyright > p {
        font-size: 0.8rem;
    }
    .company_info > p {
        font-size: 0.6rem;
    }
    .footer4 {
        margin-bottom: 200px;
    }
    .nation>a {
        font-size: 0.8rem;
    }
    .nation>a>span {
        font-size: 1rem;
        margin-right: 5px;
    }
}


@media (max-width: 812px) {
    nav {
        padding: 8px 0;
    }
    .logo {
        width: 75px;
        height: 22px;
    }
    .logo_wrap > h1 {
        font-size: 0.5rem;
    }
    .nav-item {
        width: 120px;
    }
    .nav-link {
        font-size: 0.8rem;
    }
    .banner_txt {
        bottom: 22%;
    }
    .banner_txt > h1 {
        font-size: 1.5rem;
    }
    .banner_txt > p {
        font-size: 1.2rem;
    }
    .sec2_txt > h1 {
        font-size: 2rem;
    }
    .sec2_txt > p {
        font-size: 0.9rem;
    }
    .swiper1 {
        height: 500px;
    }
    .sec3_bg1 {
        padding: 150px 0;
    }
    .sec3_bg1_txt > h1 {
        font-size: 2rem;
    }
    .sec3_bg1_txt > p {
        font-size: 0.9rem;
    }
    .sec3_bg2 {
        padding: 130px 0;
    }
    .sec3_bg2_txt1 {
        margin-top: 0;
    }
    .sec3_bg2_txt1>p:first-child {
        font-size: 1.2rem;
    }
    .sec3_bg2_txt1 > p {
        font-size: 0.7rem;
    }
    .sec3_bg2_txt2 {
        margin-top: 0;
    }
    .sec3_bg2_txt2>p:first-child {
        font-size: 1.2rem;
    
    }
    .sec3_bg2_txt2 > p {
        font-size: 0.7rem;
        white-space: nowrap;
    }
    .sec4_txt > h1 {
        font-size: 2rem;
    }
    .sec4_txt > p {
        font-size: 0.9rem;
    }
    .swiper2 {
        height: 500px;
    }
    .sec5_bg1 {
        padding: 200px 0;
    }
    .sec5_bg1_txt {
        margin-top: 10px;
    }
    .sec5_bg1_txt > h1 {
        font-size: 2rem;
    }
    .sec5_bg1_txt > p {
        font-size: 0.9rem;
    }
    .sec5_bg2 {
        padding: 210px 0;
    }
    .sec5_bg2_txt > .col-5 > p {
        font-size: 1.2rem;
    }
    .sec5_bg2_txt > .col-7 > p {
        font-size: 0.7rem;
        margin: 0;
    }
    .sec6_txt > h1 {
        font-size: 2rem;
    }
    .sec6_txt > p {
        font-size: 0.7rem;
    }
    .sec7_img > img {
        width: 80%;
    }
    .sec7_txt {
        margin-top: 30px;
    }
    .sec7_txt > h1 {
        font-size: 1.3rem;
    }
    .sec7_txt > p {
        font-size: 0.7rem;
    }
    .sec8_img > img {
        width: 80%;
    }
    .sec8_txt {
        margin-top: 40px;
    }
    .sec8_txt > h1 {
        font-size: 1.3rem;
    }
    .sec8_txt > p {
        font-size: 0.7rem;
    }
    .sec9_img > img {
        width: 80%;
    }
    .sec9_txt {
        margin-top: 0;
    }
    .sec9_txt > h1 {
        font-size: 1.3rem;
    }
    .sec9_txt > p {
        margin-top: 15px;
        font-size: 0.7rem;
    }
    .sec10_txt {
        margin-top: 0;
    }
    .sec10_txt > h1 {
        font-size: 1.3rem;
    }
    .sec10_txt > p {
        margin-top: 12px;
        font-size: 0.7rem;
        white-space: nowrap;
    }
    .sec10_img > img {
        width: 80%;
    }
    .article_txt {
        padding-top: 50px
    }
    .article_txt > p {
        font-size: 1.1rem;
    }
    .article_logo {
        padding-top: 30px;
    }
    .article_link {
        font-size: 0.9rem;
        margin-top: 20px;
        margin-bottom: 50px;
    }
    .logo_footer {
        width: 75px;
        height: 22px;
    }
    .logo_footer_wrap > h1 {
        font-size: 0.5rem;
    }
    .siteLink_footer > li {
        width: 130px;
    }
    .siteLink_footer a {
        font-size: 0.8rem;
    }
    .snsLink_footer {
        width: 15%;
        margin-top: -20px;
        margin-left: 85%;
    }
    .snsLink_footer li {
        width: 20px;
        height: 20px;
    }
    .company_info {
        width: 63%;
    }
    .company_info > p {
        font-size: 0.7rem;
    }
    .footer4 {
        margin-bottom: 50px;
    }
}

@media (max-width: 768px) {
    .nav-item {
        width: 110px;
    }
    .nav-link {
        font-size: 0.7rem;
    }
    .company_info {
        width: 68%;
    }
}

@media (max-width: 720px) {
    .nav-item {
        width: 100%;
        padding: 5px 0;
        margin: 0 auto;
    }
    .nav-link {
        font-size: 1rem;
    }
    .banner_txt {
        bottom: 15%;
    }
    .banner_txt > h1 {
        font-size: 1.3rem;
    }
    .banner_txt > p {
        font-size: 1rem;
    }
    .sec2_txt > h1 {
        font-size: 1.6rem;
    }
    .sec2_txt > p {
        font-size: 0.8rem;
    }
    .sec3_bg2_txt1 {
        margin-left: -30%;
    }
    .sec3_bg2_txt1>p:first-child {
        font-size: 1rem;
    }
    .sec3_bg2_txt1 > p {
        white-space: nowrap;
    }
    .sec3_bg2_txt2 {
        margin-top: 50px;
    }
    .sec3_bg2_txt2>p:first-child {
        font-size: 1rem;
    }
    .sec4_txt > h1 {
        font-size: 1.6rem;
    }
    .sec4_txt > p {
        font-size: 0.8rem;
        white-space: nowrap;
    }
    .sec5_bg2_txt>.col-5>p {
        white-space: nowrap;
    }
    .sec5_bg2_txt>.col-7>p {
        white-space: nowrap;
    }
    .sec6_txt > h1 {
        font-size: 1.5rem;
    }
    .sec6_txt > p {
        font-size: 0.65rem;
        white-space: nowrap;
        text-align: center;
    }
    .sec7_img > img {
        width: 90%;
    }
    .sec7_txt {
        margin-top: 20px;
    }
    .sec7_txt > h1 {
        font-size: 1.2rem;
    }
    .sec7_txt p {
        font-size: 0.7rem;
        white-space: nowrap;
    }
    .sec8_txt {
        margin-top: 30px;
        padding-left: 5%;
    }
    .sec8_txt > h1 {
        font-size: 1.2rem;
    }
    .sec8_txt > p {
        font-size: 0.7rem;
        white-space: nowrap;
    }
    .sec8_img > img {
        width: 90%;
        margin-left: 15%;
    }
    .sec9_img > img {
        width: 100%;
        margin-left: -5%;
    }
    .sec9_txt > h1 {
        font-size: 1.2rem;
    }
    .sec9_txt > p {
        font-size: 0.7rem;
        white-space: nowrap;
    }
    .sec10_txt {
        padding-left: 0;
    }
    .sec10_txt > h1 {
        font-size: 1.2rem;
    }
    .sec10_txt > p {
        font-size: 0.7rem;
        white-space: nowrap;
    }
    .sec10_img > img {
        width: 100%;
        margin-left: 20%;
    }
}

@media (max-width: 540px) {
    .section1 {
        padding-top: 80px;
    }
    .banner_txt {
        bottom: 15%;
    }
    .banner_txt > h1 {
        white-space: nowrap;
    }
    .sec2_txt > h1 {
        width: 100vw;
        /* margin: 0; */
        text-align: center;
    }
    .sec2_txt > p {
        width: 100vw;
        font-size: 0.8rem;
    }
    .sec4_txt > h1 {
        width: 100vw;
    }
    .sec4_txt > p {
        width: 100vw;
    }
    .sec6_txt > h1 {
        width: 100vw;
    }
    .sec6_txt > p {
        width: 100vw;
    }
    .section7 .row {
        flex-direction: column;
    }
    .sec7_img {
        width: 100vw;
        margin: 0;
        padding: 0;
    }
    .sec7_img > img {
        width: 70%;
        margin: 0 auto;
    }
    .sec7_txt {
        width: 100vw;
        text-align: center;
        margin: 20px 0 0 0;
        padding: 0;
    }
    .section8 .row {
        flex-direction: column-reverse;
    }
    .sec8_img {
        width: 100vw;
        margin: 0;
        padding: 0;
    }
    .sec8_img > img {
        width: 70%;
        margin: 0 auto;
    }
    .sec8_txt {
        width: 100vw;
        text-align: center;
        margin: 20px 0 0 0;
        padding: 0;
    }
    .section9 .row {
        flex-direction: column;
    }
    .sec9_img {
        width: 100vw;
    }
    .sec9_img > img {
        width: 70%;
        margin: 0 auto;
    }
    .sec9_txt {
        width: 100vw;
        text-align: center;
        margin-top: 20px;
        padding: 0;
    }
    .section10 .row {
        flex-direction: column-reverse;
    }
    .sec10_img {
        width: 100vw;
        margin: 0;
        padding: 0;
    }
    .sec10_img > img {
        width: 70%;
        margin: 0 auto;
    }
    .sec10_txt {
        width: 100vw;
        text-align: center;
        margin-top: 20px;
        padding: 0;
    }
    .article_link {
        width: 15%;
    }
    .snsLink_footer {
        align-items: center;
        /* background: orange; */
    }
    .snsLink_footer li {
        width: 15px;
        height: 15px;
    }
    .company_info {
        width: 80%;
    }
}


